
__pycache__
*.py[cod]
*.h5
.pytest_cache/
.ipynb_checkpoints/
*.egg-info/
.venv/
.history
.vscode
.DS_Store
runs/
data/
results/*
!results/kbh_runet_2h/
!results/kbh_runet_2h/*.yml
!results/previews/
results/previews/*
!results/previews/kbh_runet_2h_final/
!results/previews/kbh_runet_2h_final/*.png
!results/training_curves_kbh_runet_2h_final.png
